.husky
node_modules
public
script
src
.eslintrc.js
index.html
package.json
pnpm-lock.yaml
tsconfig.json
vite.config.ts


.DS_Store
dist-ssr
*.local

.idea
.vscode
.node

npm-debug.log*
yarn-debug.log*
yarn-error.log*
